<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col">
      <h3 class="mt-5" style="color: #122452">Users</h3>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-3"></div>
    <div class="col d-flex justify-content-center">
      <table class="invoiceTable table mt-3 text-center w-75">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Email</th>
          <th scope="col" colspan="2">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users | paginate: {itemsPerPage: 5, currentPage: p, totalItems: users?.length}">
          <td>{{user.email}}</td>
          <td class="d-flex justify-content-between">
            <a class="btn btn-primary btn-sm action-btn">Edit</a>
            <a class="btn btn-danger btn-sm action-btn">Delete</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-3"></div>
    <div class="col d-flex justify-content-center mt-3">
      <pagination-controls (pageChange)="p = $event" previousLabel="Back" nextLabel="Next"></pagination-controls>
    </div>
  </div>
</div>
