<div class="container-fluid">
  <div class="row">
    <div class="menu col-3">
      <div class="row">
        <div class="col mt-4">
          <div class="notification-container">
            <a (click)="myDialog.show()" class="notificationBell"><h2 class="bi bi-bell float-end text-white"></h2></a>
            <dialog #myDialog>
              <p class="dialogText">{{message}}</p>
              <a class="dialogCloseButton" (click)="myDialog.close()">X</a>
            </dialog>
          </div>
        </div>
      </div>

      <div class="row text-center text-white">
        <div class="col">
          <img src="/assets/profile_pic.PNG" class="rounded mx-auto d-block w-25" alt="profile-picture">
        </div>
      </div>

      <div class="row text-center text-white mt-3 mb-4">
        <div class="col">
          <h5>{{username}}</h5>
        </div>
      </div>

      <!--   Menu items   -->
      <div class="nav flex-column nav-pills text-white" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a routerLink="/dashboard" [class.active]="isActive('/dashboard')" class="nav-link list-item" id="v-pills-dashboard-tab" data-toggle="pill" role="tab" aria-controls="v-pills-dashboard" aria-selected="true">
          <h2 class="bi bi-columns"></h2>
          <div class="menuItem">
            <h5>Dashboard</h5>
          </div>
        </a>
        <a routerLink="/scan" [class.active]="isActive('/scan')" class="nav-link list-item" id="v-pills-scan-tab" data-toggle="pill" role="tab" aria-controls="v-pills-scan" aria-selected="false">
          <h2 class="bi bi-upc-scan"></h2>
          <div class="menuItem">
            <h5>Scan</h5>
          </div>
        </a>
        <a routerLink="/invoices" [class.active]="isActive('/invoices')" class="nav-link list-item" id="v-pills-invoices-tab" data-toggle="pill" role="tab" aria-controls="v-pills-invoices" aria-selected="false">
          <h2 class="bi bi-file-earmark-text"></h2>
          <div class="menuItem">
            <h5>Invoices</h5>
          </div>
        </a>
        <a routerLink="/users" [class.active]="isActive('/users')" class="nav-link list-item" id="v-pills-users-tab" data-toggle="pill" role="tab" aria-controls="v-pills-users" aria-selected="false">
          <h2 class="bi bi-people"></h2>
          <div class="menuItem">
            <h5>Users</h5>
          </div>
        </a>
        <a routerLink="/login" [class.active]="isActive('/login')" class="nav-link list-item" id="v-pills-settings-tab" data-toggle="pill" role="tab" aria-controls="v-pills-settings" aria-selected="true">
          <h2 class="bi bi-box-arrow-left"></h2>
          <div class="menuItem">
            <h5>Log out</h5>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
