<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col">

      <div class="row mt-5">
        <h3 style="color: #152a5f">Scan an invoice or upload an existing invoice</h3>
      </div>

      <div class="row mt-3">
        <div class="col">

          <div class="row mt-4">
            <div class="col-4">
              <button style="background-color: #122452; color: white" class="btn" (click)="checkPermissions()">Scan Invoice</button>
            </div>

            <div class="col-8">
              <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" enctype="multipart/form-data">
                <div class="row form-group">
                  <div style="position: relative;">
                    <input class="form-control"
                           type="file"
                           id="formInvoice"
                           name="invoice"
                           [(ngModel)]="form.invoice"
                           #invoice="ngModel"
                           (change)="onFileSelected($event)">
                    <button style="background-color: #122452; color: white; position: absolute; right: 0; top: 0; height: 100%;" type="submit" class="btn" [disabled]="!f.form.valid">Upload</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>

      <div class="row mt-1">
        <div class="col">
          <p #processingImage style="visibility: hidden">Processing image...</p>
        </div>
      </div>

      <div class="row text-center">
        <div class="col image-container">
          <div *ngIf="this.status == undefined; then thenHeader else elseHeader"></div>
          <ng-template #thenHeader>
            <canvas #canvasElement class="mt-4" style="height:310px; width:250px"></canvas>
            <a *ngIf="this.jsonResponse.image != undefined" [href]="canvasDataURL" download="image.png">Download Image<i class="bi bi-download" style="margin-left: 5px"></i></a>
          </ng-template>
          <ng-template #elseHeader>
            <div *ngIf="stream" style="position: relative;">
              <div style="display: flex; flex-direction: column; align-items: center;">
                <webcam [trigger]="$trigger" (imageCapture)="snapshot($event)" [imageQuality]="1"></webcam>
                <button style="background-color: #122452; color: white; margin-top: 3px; margin-bottom:5px" class="btn" (click)="captureImage()">{{btnLabel}}</button>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
