<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col">
      <div class="row">
        <div class="col">
          <form #f="ngForm"
                (ngSubmit)="f.form.valid && onSubmit()"
                enctype="multipart/form-data">
            <div class="row form-group mt-5">
              <label for="formInvoice" class="col form-label">Upload an invoice</label>
              <input class="form-control"
                     type="file"
                     id="formInvoice"
                     name="invoice"
                     [(ngModel)]="form.invoice"
                     #invoice="ngModel"
                     (change)="onFileSelected($event)">
            </div>
            <button type="submit" class="btn btn-primary mt-4">Upload</button>
          </form>
        </div>
      </div>

      <div class="row mt-1">
        <div class="col">
          <p #processingImage style="visibility: hidden">Processing image...</p>
        </div>
      </div>

      <div class="row text-center">
        <div class="col image-container">
          <canvas #canvasElement style="height:350px; width:300px"></canvas>
          <a *ngIf="this.jsonResponse.image != undefined" [href]="canvasDataURL" download="image.png">Download Image</a>
        </div>
      </div>
    </div>
  </div>
</div>
