li {
  margin-right: 30px
}

.nav-item.active .nav-link {
  color: #122452;
}

li:hover {
  cursor: pointer;
}

.nav-item .nav-link {
  position: relative;
}

.nav-item .nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #122452;
  transition: width 0.4s ease, left 0.4s ease
}

.nav-item.active .nav-link::after {
  width: 100%;
  left: 0;
}
